* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

hr {
  border: 0;
  height: 1px;
  background: #D6D5D5;
  margin-top: 1.5rem;
}

.card {
  border-radius: 2px;
  background-color: white;
}

.card, .sidebar {
  box-shadow: 2px 1px 2px -2px rgba(0, 0, 0, 0.26);
}

.selected {
  color: #2196F3;
}

.sidebar {
  width: 16rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sidebar .profile {
  background: url(images/profile-background.png) no-repeat;
  background-size: cover;
  color: white;
  font-size: 0.875rem;
  padding: 1.5rem 1rem 1.25rem 1rem;
}
.sidebar .profile .avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.sidebar .profile .username {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.sidebar .profile .email-expandable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .menu {
  color: #4D4D4E;
  border-right: 1px #D6D5D5 solid;
  flex-grow: 1;
}
.sidebar .menu ul {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.sidebar .menu li {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
}
.sidebar .menu li > *:first-child {
  margin-right: 2.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.content header {
  color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2196F3;
  flex-shrink: 0;
}
.content header .group {
  display: flex;
  align-items: center;
}
.content header .group > * {
  margin-left: 1.5rem;
}
.content header .group:last-child {
  margin-right: 1.5rem;
}
.content header .title {
  font-size: 1.3125rem;
}

main {
  display: flex;
  padding: 0.75rem 1rem 0.75rem 4rem;
  background-color: #EEEEEE;
  height: calc(100vh - 4rem);
}

.item-group {
  display: flex;
}
.item-group .items {
  flex-grow: 1;
}
.item-group .item-icon {
  width: 3.5rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.contacts-list {
  color: #4D4D4E;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.5rem 0 0 1.5rem;
  margin-right: 0.875rem;
}
.contacts-list .item-icon {
  color: #FF3E81;
}
.contacts-list .contact {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 0.9375rem;
}
.contacts-list .contact .avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
.contacts-list hr {
  margin: 1.25rem 0;
}

.contact-details {
  min-width: 21rem;
  max-width: 27rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.contact-details .header {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 15.375rem;
  color: white;
  background: url(images/james-connors.png);
  background-size: cover;
  background-position: center;
  padding: 1.5rem 1.75rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.contact-details .header .action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-details .header .action-buttons .group > * {
  margin-left: 0.75rem;
}
.contact-details .header .name {
  font-size: 2.25rem;
}
.contact-details .details {
  padding: 2.75rem 0 0 2rem;
  overflow-y: auto;
}
.contact-details .item-icon {
  color: #2196F3;
  line-height: 2.25rem;
}
.contact-details .items > * {
  margin-bottom: 2.25rem;
  padding-right: 1.375rem;
}
.contact-details .type {
  margin-top: 0.3125rem;
  font-size: 0.8125rem;
  color: #999999;
}
.contact-details .phone-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-details hr {
  margin: 1.625rem 0;
}

.fab {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1.875rem;
  right: 1.875rem;
  border: none;
  background-color: #FF3E81;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16), 0px 2px 5px rgba(0, 0, 0, 0.26);
  color: white;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sidebar .menu li {
    align-items: flex-start;
  }

  header .material-icons {
    margin-top: 0.2em;
  }
}

/*# sourceMappingURL=styles.css.map */
